<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">

<!--     <h1>Top Deals <small>in your city</small></h1> -->

    <% top_deals.each do |deal| %>
      <%= render "top_deal", top_deal: deal %>
    <% end %>
  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

<!--   <h1>Nearby Deals <small>close to your city</small></h1> -->

  <% nearby_deals.each do |deal| %>
    <%= render "nearby_deal", nearby_deal: deal %>
  <% end %>

  <!-- /END THE FEATURETTES -->
